<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <title>{{ .Title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,600;1,300&display=swap" rel="stylesheet">

    <link href="/assets/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div class="page">
      <div class="container">
        {{ block "header" . }}{{ partial "nav" . }}{{end}} 
        {{/*  Need to adjust header  */}}

        {{ block "main" . }}{{ end }}

        {{/*  {{ block "footer" . }}{{ partial "footer" . }}{{end}}  */}}
      </div>
    </div>

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
    <script src="/assets/bundle.js"></script>
  </body>
  
</html>