<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <body class="sans-serif">
    <div class="page">
      <div class="container" style="width: 100%; height: 100%;">
        {{ block "header" . }}{{ partial "nav" . }}{{end}}

        {{ block "main" . }}{{ end }}

        {{/*  {{ block "footer" . }}{{ partial "footer" . }}{{end}}  */}}
      </div>
    </div>

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
    <script src="/assets/bundle.js"></script>
  </body>
  
</html>