<!doctype html>
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="sans-serif">
    <div class="page">
      <div class="container">
        {{/*  {{ block "header" . }}{{ partial "nav" . }}{{end}}  */}}

        {{ block "main" . }}{{ end }}

        {{/*  {{ block "footer" . }}{{ partial "footer" . }}{{end}}  */}}
      </div>
    </div>

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>