body {
   font-family: 'Karla', sans-serif;
   letter-spacing: -0.025rem;
}

p {
   font-size: 1.1rem;
}

p img {
   width:100%;
}

.map-text {
   display: none;
   font-size: 1.6rem;
   background-color: rgba(255, 255, 255, 0.6);
   padding: 0.5rem;
}

.story {
   display: none;
}

.time-button {
   background-color: #fefefe; /* Green */
   color: #575e63;
   border-color: #575e63;
   padding: 15px;
   text-align: center;
   font-size: 1.8rem;
   width: 20rem;
   border-radius:10px;
   font-weight: bold;
}
.time-button:hover{
   background-color: #f5f5f5;
}

.arrow-down {
   width: 0; 
   height: 0; 
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 20px solid #575e63;
   margin-left: auto;
   margin-right: auto;
 }

.story-button{ 
   background-color: #575e63;
   border: none;
   color: white;
   padding: 0.5rem;
   font-size: 1.6rem;
   font-weight: bold;
}

.story-title{
   font-size: 2rem;
   color: #575e63;
}
.story-content {
   font-size: 1.2rem;
   color: #575e63;
   text-align: left;
}
.close-story{
   background: none;
    color: #575e63;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    align-self: flex-start;
    margin-right: 1rem; 
    font-size:2.5rem;
}

::-webkit-scrollbar {
   width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(82, 82, 82, 0);
   background: #ddd; 
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #707070; 
}
.content-past {
   display: none;
}
.content-present {
   display: none;
}
.content-future {
   display: none;
} 

.nav-item {
   padding: 1rem;
   font-weight: bold;
   font-size: 1.4rem;
}

.nav-item a {
   text-decoration: none;
   color: black;
}

.river {
   flex: 70%;
   width: 100%;
   height: 69rem;
   background-image: url("/images/allriver.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position:relative;
}

.story-display {
   flex: 30%; 
   height:69rem;
   overflow:auto; 
   margin-right:0%;
   padding-right: 1rem;
}

.container{
   width: 100%;
   height: 100%;
}

.row-center{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display:flex; 
   width:75%; 
   justify-content:space-between;
}
.map-description {
   position: absolute;
   top: 60px;
   left: 60px;
   font-weight: 700;
   max-width: 40%;
}
.flex-container {
   display: flex;
   flex-direction: row;
   text-align: center;
}

img {
   width: 100%;
   height:100%;
}

@media screen and (max-width: 500px) {
   .flex-container {
       flex-direction: column-reverse;
   }
   .row-center {
      width: 100%;
   }
   .map-description {
      position: absolute;
      top: 25px;
      left: 25px;
      font-weight: 700;
      max-width: 30%;
   }
   .time-button {
      font-size: 16px;
      padding: 5px;
      width: 25vw;
   }
   .map-text{
      font-size: 16px;
   }
   .story-button{
      font-size: 10px;
   }
   .arrow-down{
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      border-top: 1rem solid #575e63;
   }

}