body {
   font-family: 'Karla', sans-serif;
   letter-spacing: -0.025rem;
   margin: 0;
}

p {
   font-size: 1.1rem;
}

p img {
   width:100%;
}


.map-text {
   display: none;
   font-size: 1.6rem;
   background-color: rgba(255, 255, 255, 0.6);
   padding: 0.5rem;
}

.story {
   display: none;
}

.time-button {
   background-color: #fefefe; /* Green */
   color: #575e63;
   border-color: #575e63;
   padding: 10px;
   text-align: center;
   font-size: 1.8rem;
   width: 10rem;
   border-radius:10px;
   font-weight: bold;
}
.time-button:hover{
   background-color: #f5f5f5;
}

.arrow-down {
   width: 0; 
   height: 0; 
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 20px solid #575e63;
   margin-left: auto;
   margin-right: auto;
 }

.story-button{ 
   background-color: #575e63;
   border: none;
   color: white;
   padding: 0.5rem;
   font-size: 15px;
   font-weight: bold;
}

.story-title{
   font-size: 2rem;
   color: #575e63;
}
.story-content {
   font-size: 1.2rem;
   color: #575e63;
   text-align: left;
}
.close-story{
   background: none;
    color: #575e63;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    align-self: flex-start;
    margin-right: 1rem; 
    font-size:2.5rem;
}

::-webkit-scrollbar {
   width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(82, 82, 82, 0);
   background: #ddd; 
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #707070; 
}
.content-past {
   display: none;
   position:absolute;
}
.content-present {
   display: none;
   position:absolute;
}
.content-future {
   display: none;
   position:absolute;
} 

.nav-container {
   display: flex; 
   justify-content: space-between;
   height:14vh;
}


.nav-item {
   padding: 1rem;
   font-weight: bold;
   font-size: 1.4rem;
}

.nav-item a {
   text-decoration: none;
   color: black;
}

.river-container {
   flex: 70%;
   width: 100%;
   height: 50vh;
}

.river {
   position:relative;
   background-image: url("/images/allriver.png");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 0;
   padding-top: 62.5%;
}

.river-display{
   object-fit: contain;
   max-height: 85vh;
}

.profile-flex-grid{
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   margin:auto;
}

.about-profile {
   width: 50%;
   margin:auto;
   box-sizing: border-box;
   text-align: center;
}

.profile-picture{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.story-display {
   flex: 30%;
   height:85vh;
   overflow:auto; 
   margin-right:0%;
   padding-right: 1rem;
   margin-left: 12px;
}

.container{
   width: 100%;
   height: 100%;
}

.row-center{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display:flex; 
   width:75%; 
   justify-content:space-between;
}

.map-description {
   position: absolute;
   top: 60px;
   left: 60px;
   font-weight: 700;
   max-width: 40%;
}

.flex-container {
   display: flex;
   flex-direction: row;
   text-align: center;
}

img {
   width: 100%;
}

.story-divider {
   display: flex; 
   justify-content: space-between;
}
.get-involved-flex-row{
   max-width: 60%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
}
.about-background {
   background-color: #d7e8f2;
   height: 100%;
}
.about-intro{
   width: 70%;
   padding-top:3rem;
   margin-bottom: 1rem;
   margin-left:auto;
   margin-right:auto;
}
.the-team{
   width: 70%;
   margin-left:auto;
   margin-right:auto;
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 2rem;
}

.single-title{
   text-align: center;
   font-size: 5rem;
   font-weight: bold;
}
.section-light{
   background-color: #d3f4f4;
   width: 100%;
   display: inline-block;
   color: #084141;
}
.section-light a  {
   color: #c32675;
}

.section-dark {
   background-color: #079697;
   width: 100%;
   display: inline-block;
   color: #d3ebd7;
}

.section-dark a  {
   color: #f9bc5c;
}

.padding{
   padding: 3rem;
}
.dark-text{
   color: #09232a;
   text-align: center;
   font-size: 1.5rem;
}
.light-text{
   color: #084141;
   text-align: center;
   font-size: 1.5rem;
}
.get-involved-content{
   font-weight: 500;
   margin-left: 10rem;
   margin-right: 10rem;
}
.inline-block{ 
   display: inline-block;
   margin-bottom: 2rem;
}
.get-involved-img {
   vertical-align: middle;
   display: inline-block;
   height: auto;
}
.gif-button{
   margin-left:auto;
   margin-right:auto;
   margin-top: 1rem;
   display: flex;
   justify-content: center;
   font-weight: bold;
   background-color: #0f5959;
   border-color: #0f5959;
   color: white !important;
   padding: 14px 25px;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   width: 40px;
}

.get-involved-btn {
   background-color: #0f5959;
   border-color: #0f5959;
   color: white;
   padding: 14px 25px;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
}
.gif-text{
   text-align: center;
}
.get-involved-hashtags{
   color: #a7fbfb;
   font-size: 1.5rem;
   text-align: center;
}

.about-name {
   text-align: center;
   font-size: 5rem;
}
.about-info{
   margin-left: auto;
   margin-right: auto;
   max-width: 43rem;
   line-height: 1.476;
}
.about-picture{
   height: auto;
   margin: 0;
   padding: 0;
   display: block;
   max-width: 100%;
}
.picture-wrapper {
   position: absolute;
   left:calc((100vw - 40rem) / 2 + 40rem);
   max-width: 300px;
}
.about-page-name{
   color: #c32650;
   font-weight: bold;
   padding-bottom: 5rem;
}
.form-container{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}
input{
   width: 100%;
}
textarea{
   width: 100%;
}


.mobile-nav-open {
   display: none;
}
.mobile-nav {
   display: none;
}
.mobile-list{
   text-align: center;
   list-style: none;
   padding-inline-start: 0;
}
.mobile-exit{
   text-align: center;
}
.main-logo{
   width:100%;
   height: 100%;
   object-fit: cover;
}
.accordion-border{
   /* outline: 2px solid white; */
   /* box-sizing: border-box; */
   /* border:2px solid white; */
   /* margin:30px; */
   border: 1px solid #d4d4d4;
}
.accordion .ui-accordion-content > * {
   margin: 0;
   padding: 20px;
 }

.accordion .ui-accordion-header {
   /* background-color: #ccc; */
   margin: 0px;
}

.accordion .ui-accordion-content {
   width: 100%;
   border: 1px solid #d4d4d4;
   color: #084141;
   font-size: 10pt;
   line-height: 16pt;
}
.book-container{
   flex: 20%;
   align-items: center;
   justify-content: center;
   display: flex;
   margin-top: 2rem;
}

.book-wrapper{
   object-fit: cover;
   width: 150px;
   height: 240px;
}

.bookshelf{
   display: flex;
   flex-wrap: wrap;
}

.glossary-text{
   display: none;
}

.glossary-flex-container{
   display: flex;
   flex-direction: row;
   text-align: center;
}

.glossary-container {
   width: 100%;
   /* height: 50vh; */
   flex: 75%;
   margin-right: 1vh;
   margin-top: 1vh;
   margin-bottom: 1vh;
}
.glossary-definition{
   flex: 20%;
}
.glossary {
   background-image: url("/images/fums.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 0;
   padding-top: 56.25%;
   position: relative;
}

.hotspot-content {
   text-align: left;
   margin: 1rem;
   font-size: 15px;
}

.glossary-hotspot {
   display: block;
   position: absolute;
}
.teardrop {
   align-items: center;
   display: flex;
   justify-content: center;
   /* border: 2px solid #d1d5db; */
   border-radius: 0px 50% 50% 50%;
   transform: rotate(45deg);
   height: 10vw;
   width: 10vw;
}

.box {
   width: 19vw;
   height: 7vw;
   /* border: 1px solid black; */
}
.box-big {
   width: 38vw;
   height: 7vw;
   /* border: 1px solid black; */
}
.box-content {
   display: none;
}
.box:hover + .box-content {
   display: block;
}

.teardrop:hover, .box-big:hover:hover, .box:hover{
   background-color: #78aebf;
   opacity: .5;
}



.teardrop-content {
   display: none;
}

.teardrop:hover + .teardrop-content,  .box:hover + .teardrop-content, .box-big:hover + .teardrop-content{
   position: absolute;
   display: block;
   left: 50%;
   bottom: 50%;
   float: left;
   white-space: nowrap;
   background-color: #084141;
   color: white;
   padding: .4rem;
}

/* .teardrop:active + .teardrop-content {
   position: absolute;
   display: block;
   left: 50%;
   bottom: 50%;
   float: left;
   white-space: nowrap;
   background-color: #084141;
   color: white;
   padding: .4rem;
} */

@media screen and (max-width: 1000px) {

   .mobile-nav-open {
      display: inline;
      position: fixed;
      width: 100%;
      z-index: 999;
   }
   .mobile-nav{
      left: 0;
      min-height: 100vh;
      min-width: 100vw;
      top: 0;
      position: fixed;
      z-index: 1000;
      background-color: white;
   }
   .mobile-logo{
      width: 100%;
      max-width: 8rem;
   }

   .flex-container {
       flex-direction: column-reverse;
       margin-left:0;
   }
   .row-center {
      width: 100%;
   }
   .map-description {
      position: flex;
      top: 10px;
      left: 10px;
      font-weight: 700;
      max-width: 50%;
   }
   .map-text{
      font-size: 1rem;
   }
   .time-button {
      font-size: 16px;
      padding: 5px;
      width: 20vw;
   }
   
   .story-button {
      font-size: 10px;
      padding: 0.2rem;
   }
   .arrow-down{
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #575e63;
   }

   .nav-container{
      display: none;
   }

   .about-profile{
      width: 100%;
   }
   .picture-wrapper {
      position: static;
      max-width: 300px;
      left: 0;
   }

   .get-involved-flex-row{
      flex-direction: column;
      flex-wrap: wrap;
   }
   .get-involved-btn{
      width: 100%;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
   }
   .get-involved-content{
      margin-left: 2rem;
      margin-right: 2rem;
   }
   .book-container{
      flex: 100%;
   }

}