:root{
   --index-button-default: #333;
   --index-on-button-default: #ffffff;
   --index-button-select: #d7e8f2;
   --index-on-button-select: #1c1f1f;
   --index-story-display: #333;
/*   --index-story-display: #d7e8f2;*/
   --index-under-map-filler:#333;
   --content-background-light: #d7e8f2;
   --on-content-background-light: #084141;
   --on-content-background-dark:#fbfbfb;
   --content-background-dark:#079697;
   --content-button: #0f5959;
   --on-content-button: white;
   --content-background-dark-link: #f9bc5c;
   --content-background-light-link: #c32675;
   --social-media-link-color: #c32650;
   --mobile-nav-color: #0f5959;
   --choose-file-button: #25bcbc;
   --content-font-size: 1.2rem;
   --story-link: #d7e8f2;
}

h3 {
   font-weight: bold;
   font-size: 1.6rem;
}

h1 {
   margin:unset;
   margin-bottom: 1rem;
}

body {
   font-family: 'Source Serif 4', serif;
   letter-spacing: -0.025rem;
   margin: 0;
}

/* html{
   font-size: 9px;
} */

p {
   font-size: 1.6rem;
   line-height: 2rem;
}

p img {
   width:100%;
}

.story-intro{
   text-align: left;
}


#spanish_list .splide__slide img {
   height: auto;
   width: 100%;
}

.splide__slide img {
   height: 15rem;
   width: auto;
}


.splide:not(.is-overflow) .splide__pagination {
   display: block !important;
}

.splide-container{
   margin: auto;
   margin-top:1rem;
}

.splide__pagination {
   bottom: -1em !important ;
}
.splide:not(.is-overflow) .splide__pagination {
   display: block !important;
}
.splide-container-spanish{
   width: 50%;
   margin: auto;
}

/* .splide-container{
   margin: auto;
} */



.carousel-container{
   display: flex;
   overflow-y: hidden;
   width: 30%;
   min-width: 300px;
   margin:auto;
   overflow-x: auto;
   max-height: 300px;
   white-space: nowrap;
}

.carousel-img > img {
   width: 100%;
   min-width: 300px;
   width: 128px;
}

.about-name-small {
   font-weight: bold;
}

a:link{
   text-decoration: none;
}
a:visited{
   text-decoration: none;
}

.back{
   margin-top:1rem;
   text-align: right;
   font-size: 1.2em;
}
.back > a:link {
   text-decoration: none;
   /* color: inherit; */
}

.back > a:visited {
   text-decoration: none;
   /* color: inherit; */
}

.contact-container{
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   justify-content:center;
}

.footer-container{
   width: 50%;
   margin:auto;
   padding-top: 1.5rem;
}
.footer-social-row{
   display: flex;
   column-gap: .8rem;
   justify-content:center;
}
.footer-links-row{
   display: flex;
   flex-wrap: wrap;
   margin-top: 3rem;
}
.footer-row-object{
   flex: 50%;
}
.logo-row{
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   justify-content:center;
}
.about-name {
   text-align: center;
   font-size: 4vw;
}
.bw-river-logo{
   display: block;
   max-width: 200px;
   /* max-width:300px;
   max-height:150px;
   width: auto;
   height: auto; */
   border-radius: 25px;
}
.freshwater-logo{
   display: block;
   max-width:100px;
   max-height:100px;
   border-radius: 25px;
   width: auto;
   height: auto;
}

.fa {
   font-size: 1.5rem !important;
   color: #d3ebd7 !important;
   /*padding:30px;
   padding-top: 3rem;*/
}


.fa a:link {
   text-decoration: none;
}
.fa a:visited {
   text-decoration: none;
}

.map-text {
   display: none;
   font-size: 1.75rem;
   font-style: italic;
/*   text-transform: uppercase;*/
/*   background-color: rgba(255, 255, 255, 0.6);*/
   margin-top: 1.5rem;
}

hr {
   border-top: 2px dashed white;
   border-bottom: none;
}


.audio-library-flex{
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
   flex-wrap: wrap;
   column-gap: 10px;
}

.social-circle-btn{
   background-color: var(--social-media-link-color);
   padding: 1.5rem;
   height: 1.5rem;
   width: 1.5rem;
   text-align: center;
   border-radius: 100%;
   text-decoration: none;
   font-size: 1em;
}

.fa-twitter{
   background-color: #1da1f2;
}

.fa-youtube{
   background-color: #c32650;
}

.fa-instagram {
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f
   60%, #285aeb 90%);;
}

.fa-facebook{
   background-color: #4064ac;
   /* padding-left: 1rem; */
}
.fa-linkedin{
   background: #0073af ;
}


.dark-btn{
   background-color: var(--content-button);
   border-color: var(--content-button);
   color: var(--on-content-button);
   padding: .8rem 1rem;
   border-radius: 5px;
   font-size: 1.2rem;
   text-align: center;
   text-decoration: none;
   font-weight: bold;
}

button {
   font-family: inherit;
}

input::file-selector-button {
   background-color: var(--choose-file-button);
   border-color: var(--choose-file-button);
   color: var(--on-content-button);
   padding: 14px 25px;
   border-radius: 5px;
   font-size: 15px;
   text-align: center;
   text-decoration: none;
}

.social-square-btn{
   /* background-color: var(--social-media-link-color);
   border-color: var(--social-media-link-color); */
   color: var(--on-content-button);
   padding: 14px 25px;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
}

input, textarea {
   border-radius:5px;
}

.spanish-audio-wrapper{
   width: 49%;
}

.spanish-audio-display{
   width: 100%;
}
.story-audio-display{
   width: 100%;
   /* margin-bottom: 1rem; */
}

.story {
   display: none;
   margin-bottom: 2.1rem;
}

.time-button {
   background-color: var(--index-button-default);
   color: var(--index-on-button-default);
   border-color: #575e63;
   padding: .5rem;
   margin: .5rem;
   text-align: center;
   font-size: 1.8rem;
   width: 10rem;
   border-radius:10px;
   font-weight: bold;
}



.water-ack {
   background-color: var(--index-button-default);
   color: var(--index-on-button-default);
   border-color: #575e63;
   padding: .8rem;
   text-align: center;
   font-size: 1.8rem;
   border-radius:10px;
   font-weight: bold;
}

.arrow-down {
   width: 0; 
   height: 0; 
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 20px solid #575e63;
   margin-left: auto;
   margin-right: auto;
 }

.story-button{ 
   background-color: var(--index-button-default);
   border: none;
   color: var(--index-on-button-default);
   padding: 0.5rem;
   font-size: 1rem;
   font-weight: bold;
   white-space: nowrap;
   opacity: 1;
}

.story-title{
   font-size: 2.9rem;
}
.story-content {
   font-size: 1.2rem;
   text-align: left;

}
.story-content > p {
   font-size: 1.3rem;
}

.story-content > blockquote >p {
   font-size: 1.3rem;
}

.story-content > h5 {
   font-size: 1.4rem;
}

.close-story{
   background: none;
    color: #575e63;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    align-self: flex-start;
    margin-right: 1rem; 
    font-size:2.5rem;
}

::-webkit-scrollbar {
   width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(82, 82, 82, 0);
   background: #ddd; 
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #707070; 
}
.content-past {
   display: none;
   position: absolute;
}
.content-present {
   display: none;
   position:absolute;
}
.content-future {
   display: none;
   position:absolute;
} 

.nav-container {
   display: flex; 
   justify-content: space-between;
   height:15vh;
}
.nav-links{
 display: flex;
 margin-top: 4rem;
 margin-right:1rem;
}

.nav-item {
   padding: 1rem;
   font-weight: bold;
   font-size: 1.4rem;
}

.nav-item a {
   text-decoration: none;
   color: black;
}

.river-container {
   display:flex;
   flex: 40%;
   flex-direction: column;
   width: 100%;
   height: 85vh;
   background-color: var(--index-under-map-filler);
}

.river {
   position:relative;
   background-image: url("/img/chicago-river-map-main.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center bottom;
   width: 100%;
   flex-grow: 1;
   padding-top: 96.8%;
   transition: background-image 0.8s linear;
}

.river-display{
   object-fit: contain;
   max-height: 85vh;
}

.profile-flex-grid{
   display: flex;
   flex-wrap: wrap;

   margin:auto;
}

.about-profile {
   width: 33%;
   display: flex;

   box-sizing: border-box;
   text-align: center;
   padding-bottom: 1em;
}

.about-picture-single{
   display: block;
   max-width:250px;
   max-height:250px;
   width: auto;
   height: auto;
   border-radius: 25px;
   float: left;
   margin-right: 1em;
   margin-bottom: .25em;
}

.about-picture {
   display: block;
   max-width:250px;
   max-height:150px;
   border-radius: 25px;
   width: auto;
   height: auto;
}

.profile-description{
   text-align: left;
   margin-left: 1em;
}


.story-display {
   flex: 55%;
   height:85vh;
   overflow:auto; 
   margin-right:0%;
   padding-right: 1rem;
   padding-left: 12px;
   background-color: var(--index-story-display);
   color: white;
/*   color: #1c1f1f;*/
}

.story-display a {
   color: var(--story-link);
   font-weight: bold;
   text-decoration: underline;
}

.container{
   width: 100%;
   height: 100%;
}

.row-center{
   position: absolute;
   bottom: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   display:flex; 
   width:100%;
   justify-content:space-between;
}

.map-description {
   position: absolute;
   top: 1.4em;
   left: 1.4em;
   font-weight: 700;
   max-width: 40%;
   text-align: left;
}

.flex-container {
   display: flex;
   flex-direction: row;
}

img {
   width: 100%;
}

.story-divider {
   display: flex; 
   justify-content: space-between;
}
.get-involved-flex-row{
   max-width: 40%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
   column-gap: 10px;
}

.get-involved-flex-row-gif{
   max-width: 70%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
}


.about-content{
   margin-left: 1em;
   margin-right: 1em;
   padding: .5em;
}
.about-background {
   background-color: #d7e8f2;
   height: 100%;
}

.the-team{
   /* width: 60%; */
   margin-left:auto;
   margin-right:auto;
   margin-top:3rem;
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 2rem;
}

.media-flex-row{
   /* max-width: 70%; */
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
   column-gap: 3.5em;
}


.media-description{
   margin-bottom: 2rem;
}

.media-button{
   text-align: center;
   margin-top: 2rem;
   margin-bottom: 4rem;
   padding: .5rem;
   background-color: var(--content-button);
   border-radius: 5px;
   width: 35%;
   margin-left: auto;
   margin-right: auto;
}
.media-button > a {
   color: var(--on-content-button) !important;
   text-decoration: none;
}

.media-col{
   flex: 50%;
}

.media-image-flex{
   display: flex;
   flex-wrap: wrap;

}

.single-title{
   text-align: center;
   font-size: 5vw;
   font-weight: bold;
}
.section-light{
   background-color: var(--content-background-light);
   width: 100%;
   display: inline-block;
   color: var(--on-content-background-light);
   padding-top:1rem;
   padding-bottom: 1rem;
}
.section-light-gif{
   background-color: #d1f3f3;
   width: 100%;
   display: inline-block;
   color: var(--on-content-background-light);
   padding-top:1rem;
   padding-bottom: 1rem;
}


.section-light a  {
   color:  var(--content-background-light-link);;
/*   font-weight: bold;*/
}

.section-dark {
   background-color: var(--content-background-dark);
   width: 100%;
   display: inline-block;
   color: var(--content-background-light);
   padding-top:1rem;
   padding-bottom: 1rem;
}

.section-dark a  {
   color:  var(--content-background-dark-link);
/*   font-weight: bold;*/
}

.padding{
   padding: 3rem;
}


.subpage-content{
   font-weight: 500;
   max-width: 50%;
   margin:auto;
   overflow-wrap: break-word;
   font-size: var(--content-font-size);
   margin-top:1rem;
   margin-bottom: 1rem;
}

.inline-block{ 
   /* display: inline-block; */
   margin-bottom: 2rem;
   padding-left: 2rem;
   padding-right: 2rem;
   text-align: center;
}
.get-involved-img {
   vertical-align: middle;
   width: 80%;
   display: inline-block;
   height: auto;
}
.gif-button{
   margin-left:auto;
   margin-right:auto;
   margin-top: 1rem;
   display: flex;
   justify-content: center;
   font-weight: bold;
   background-color: #0f5959;
   border-color: #0f5959;
   color: white !important;
   padding: 1rem 1.5rem;
   border-radius: 5px;
   font-size: 1.2rem;
   text-align: center;
   text-decoration: none;
   width: 40px;
}

.gif-text{
   text-align: center;
   font-size: 1.5rem;
   margin-top: 1rem;
}
.get-involved-hashtags{
   color: #a7fbfb;
   font-size: 1.5rem;
}
.about-info{
   margin-left: auto;
   margin-right: auto;
   max-width: 43rem;
   line-height: 1.5rem;
/*   font-size: 1.5rem;*/
}

.about-page-name{
   color: #c32650;
   font-weight: bold;
   padding-bottom: 5rem;
}
.form-container{
   width: 35%;
   margin-left: auto;
   margin-right: auto;
}
input{
   width: 100%;
   font-size: 1.2rem;
   padding: .5rem;
}
textarea{
   width: 100%;
   font-size: 1.2rem;
   padding:.5rem;
}

.custom-file-input::-webkit-file-upload-button {
   visibility: hidden;
 }
 .custom-file-input::before {
   content: 'Browse Files';
   display: inline-block;
   background-color: var(--choose-file-button);
   border-color: var(--choose-file-button);
   color: var(--on-content-button);
   padding: 14px 25px;
   border-radius: 5px;
   outline: none;
   white-space: nowrap;
   -webkit-user-select: none;
   cursor: pointer;
 }
 .custom-file-input:hover::before {
   border-color: black;
 }
 .custom-file-input:active::before {
   background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
 }




.mobile-nav-open {
   display: none;
}
.mobile-nav {
   display: none;
}
.mobile-list{
   text-align: center;
   list-style: none;
   padding-inline-start: 0;
}
.mobile-exit{
   text-align: center;
   font-size: 2rem;
}
.main-logo{
   width:100%;
   min-width:12rem;
   height: 100%;
   max-height: 200px;
   max-width: 300px;
   padding-left: 10px;
}
.accordion-border{
   /* outline: 2px solid white; */
   /* box-sizing: border-box; */
   /* border:2px solid white; */
   /* margin:30px; */
   border: 1px solid #d4d4d4;
}
.accordion .ui-accordion-content > * {
   margin: 0;
   padding: 20px;
}

.accordion .ui-accordion-header {
   /* background-color: #ccc; */
   margin: 0px;
}

.accordion .ui-accordion-content {
   width: 100%;
   border: 1px solid #d4d4d4;
   /* color: #084141; */
   line-height: 16pt;
}
.book-container{
   flex: 20%;
   align-items: center;
   justify-content: center;
   display: flex;
   margin-top: 2rem;
}

.book-wrapper{
   object-fit: cover;
   width: 150px;
   height: 240px;
}

.bookshelf{
   display: flex;
   flex-wrap: wrap;
}

.glossary-text{
   display: none;
}

.glossary-title{
   font-size:2.5rem;
}

.glossary-flex-container{
   display: flex;
   flex-direction: row;
   text-align: center;
}

.glossary-container {
   width: 80%;
   /* height: 50vh; */
   flex: 75%;
   margin-right: 2vh;
   margin-top: 2vh;
   margin-bottom: 2vh;
}
.glossary-definition{
   flex: 20%;
}
.glossary {
   background-image: url("/img/fums.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 0;
   padding-top: 56.25%;
   position: relative;
}

.hotspot-content {
   text-align: left;
   margin: 1rem;
   font-size: 15px;
}

.glossary-hotspot {
   display: block;
   position: absolute;
}
.teardrop {
   align-items: center;
   display: flex;
   justify-content: center;
   /* border: 2px solid #d1d5db; */
   border-radius: 0px 50% 50% 50%;
   transform: rotate(45deg);
   height: 10vw;
   width: 10vw;
}

.box {
   width: 19vw;
   height: 7vw;
   /* border: 1px solid black; */
}
.box-big {
   width: 38vw;
   height: 7vw;
   /* border: 1px solid black; */
}
.box-content {
   display: none;
}
.box:hover + .box-content {
   display: block;
}

.teardrop:hover, .box-big:hover:hover, .box:hover{
   background-color: #78aebf;
   opacity: .5;
}



.teardrop-content {
   display: none;
}

.teardrop:hover + .teardrop-content,  .box:hover + .teardrop-content, .box-big:hover + .teardrop-content{
   position: absolute;
   display: block;
   left: 50%;
   bottom: 50%;
   float: left;
   white-space: nowrap;
   background-color: #084141;
   color: white;
   padding: .4rem;
}

textarea { resize: vertical; }



.fade-1, .fade-2, .fade-3,.fade-4,.fade-5 {
   opacity: 0;
}

@media screen and (max-width: 1800px) {
   
   .map-text{
      font-size: 1.5rem;
   }
   .story-title{
      font-size: 2.5rem;
   }
   .about-profile{
      width: 50%;
   }
   .story-button{
      font-size: 1rem;
   }

   h3 {
      font-size: 1.5rem;
   }

   .story-content > p {
      font-size: 1.2rem;
      line-height: 1.5rem;
   }

   .story-content > blockquote >p {
      font-size: 1.2rem;
   }

   .story-content > h5 {
      font-size: 1.3rem;
   }

   .time-button {
      font-size: 1.5rem;
      /* overflow-wrap: break-word; */
   }
   
}

@media screen and (max-width: 1400px) {
   .map-text{
      font-size: 1.3rem;
   }
}


@media screen and (max-width: 1000px) {
   .story-title{
      font-size: 2rem;
   }
   .single-title {
      font-size: 3.5rem;
   }
   .mobile-nav-open {
      display: flex;
      justify-content: space-between;
   }
   .mobile-click {
      font-size: 2.5em;
      padding-right: .4em;
   }
   .mobile-nav{
      left: 0;
      min-height: 100vh;
      min-width: 100vw;
      top: 0;
      position: fixed;
      z-index: 1000;
      background-color: white;
   }
   .mobile-logo{
      width: 15rem;
      max-width: 300px;
   }

   .mobile-link {
      font-weight: bold;
      font-size: 30px;
      color: var(--mobile-nav-color);
   }
   .mobile-link-container{
      margin-bottom: 1.2rem;
   }
   li a:link {
      text-decoration: none;
   }
   li a:visited {
      text-decoration: none;
   }
   .flex-container {
       flex-direction: column-reverse;
       margin-left:0;
   }
   .row-center {
      width: 90%;
   }
   .map-description {
      position: flex;
      top: 10px;
      left: 10px;
      font-weight: 700;
      max-width: 50%;
   }
   .map-text{
      font-size: 1.2rem;
   }
   .time-button {
      font-size: 1rem;
      padding: .2rem;
      width: 20vw;
      /* overflow-wrap: break-word; */
   }
   .story-button {
      font-size: 0.8rem;
      padding: 0.2rem;
   }
   .arrow-down{
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #575e63;
   }

   .nav-container{
      display: none;
   }

   
   .about-picture-single{
      max-width:250px;
      max-height:150px;
      width: auto;
      height: auto;
   }


   .get-involved-flex-row-gif{
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 10px;
      max-width: 80%;
   }

   .audio-library-flex{
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 10px;
   }
   .spanish-audio-wrapper{
      width: 100%;
   }

   .get-involved-flex-row{
      max-width: 80%;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 10px;
   }
   .dark-btn{
      width: 100%;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      
   }
   .book-container{
      flex: 100%;
   }
   .footer-row-object{
      flex: 100%;
      margin: auto;
   }
   .footer-container{
      width: 100%;
      padding-top: 1.5rem;
   }
   .bw-river-logo{
      flex: 100%;
      margin:auto;
   }
   .freshwater-logo{
      flex:100%;
      margin:auto;
   }
   /*.contact-container{
      margin-left:4rem;
   }*/
   .media-flex-row{
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 10px;
   }
   .subpage-content{
      max-width: 80%;
   }
   .form-container{
      width: 80%;
   }
   .profile-flex-grid{
      width: 100%;
   }
   .footer-social-row{
      margin-left: 1rem;
   }
   .social-square-btn{
      padding:1vw;
   }
   .glossary-flex-container{
      flex-direction: column-reverse;
   }
   .glossary-container{
      width: 90%;
      margin: auto;
   }
   .glossary-definition{
      width: 80%;
      margin: auto;
   }
   h3 {
      font-size:1.6rem;
   }
}

@media screen and (max-width: 1000px) {
   .about-profile{
      width: 100%;
   }
   .footer-social-row{
      margin-left: 1rem;
   }
   .social-square-btn{
      padding:2vw;
   }
   .mobile-link {
      font-size: 40px;
   }
   
}

@media screen and (max-width: 500px) {
   .story-button{
      font-size: .9rem;
   }
   .time-button{
      font-size: .9rem;
   }
   .mobile-link{
      font-size: 30px;
   }

}