{{define "main" }}

<header class="about-spacer">
	<div class="about-inner">
		<h1 class="about-name">{{.Params.name}}</h1>
	</div>
</header>
<div class="about-background">
    <div class="about-content">
        <div class="about-info">
            <figure class="picture-wrapper">
                <img class="about-picture-single" src="{{.Params.picture}}">
            </figure>
            {{.Params.intention | markdownify}}
        </div>
        <div class="about-info">
            {{.Params.bio | markdownify}}
        </div>
    </div>
</div>


{{ end }}