{{ $x:= .time }}
{{ $y:= .time }}
{{ $z:= .time }}

{{ range (where .context.Site.Pages "Section" .time ) }}
    {{ range .Pages }}
    
    <div id="{{$x}}-{{.Title}}" class="content-{{ $x }}" onmouseover="fadeStoryButtonOut({{.Title}}, {{$y}})" onmouseleave="fadeStoryButtonIn({{$z}})" style="bottom:{{.Params.y}}%; margin-left:{{.Params.x}}%; transform: translateX(-50%);">
        <button class="story-button" onclick="showStoryText({{.Title}}, {{$x}}, false)" > {{.Title}} 
            {{ if .Params.audioList }}
            &#9835;
            {{ end }}
        </button>
        <div class="arrow-down"></div>
    </div>
    {{ end }}
{{ end }}