<div class="footer-container">
    <div class="footer-social-row">
        <div>
            <a class="social-circle-btn fa fa-twitter" href="https://twitter.com/FreshwaterLab" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div>
            <a class="social-circle-btn fa fa-facebook" href="https://www.facebook.com/FreshwaterLab" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div>
            <a class="social-circle-btn fa fa-instagram" href="https://www.instagram.com/thefreshwaterlab/" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div>
            <a class="social-circle-btn fa fa-linkedin" href="https://www.linkedin.com/company/freshwater-lab-at-uic/" target="_blank" rel="noopener noreferrer"></a>
        </div>
        <div>
            <a class="social-circle-btn fa fa-youtube" href="https://www.youtube.com/channel/UCl7LFAr11B_AE2DGMvjqOHQ" target="_blank" rel="noopener noreferrer"></a>
        </div>
    </div>
    <hr>

    <div class="footer-links-row">
        <div class="footer-row-object">
            <div class="logo-row">
                 <a href="https://thebackwardriver.org/">
                    <img class="bw-river-logo" src="/images/bw-backward.jpg">
                 </a>
                 <a href="https://www.freshwaterlab.org/">
                    <img class="freshwater-logo" src="/images/freshwaterlab.jpg">
                 </a>
                
            </div>
        </div>
        <div class="footer-row-object">
            <div class="contact-container">
                <div style="margin:auto">
                    <h2> Contact us</h2>
                    <div>
                        <br> Freshwater Lab
                        <br> Institute for the Humanities
                        <br> University of Illinois Chicago
                        <br> 701 S. Morgan St.
                        <br> Chicago, IL 60607
                        <br> <a href="mailto:thefreshwaterlab@gmail.com">thefreshwaterlab@gmail.com</a>
                        <div class="widget-content">
                        <h6><a
                                href="https://docs.google.com/forms/d/e/1FAIpQLScNdEPO9QwvX0YynDktRv28WHfi44lF_lZuF57CMN0SifnvVw/viewform?usp=sf_link">Join
                                our email list</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>