<div class="nav-container">
    <div>
        <a href="/"><img src="/img/logo.svg" class="main-logo" alt="The Backward River homepage" /></a>
    </div>
    <div class="nav-links">
        <div class="nav-item">
            <a href="/">Home</a>
        </div>

        <div class="nav-item">
            <a href="/about">About</a>
        </div>
        <div class="nav-item">
            <a href="/media">Media</a>
        </div>
        <div class="nav-item">
            <a href="/en-español">En Español</a>
        </div>
        <div class="nav-item">
            <a href="/get-involved">Get involved</a>
        </div>
    </div>
</div>

<nav id="nav-mobile" class="mobile-nav-open">
    <a href="/"><img src="/img/logo.svg" />
        <a class="mobile-click" onclick="toggleMobile();">&#9776;</a>
</nav>

<div id="mobile-menu" class="mobile-nav">
    <div class="gradient-divider"></div>
    <ul class="mobile-list">
        <li>
            <a href="/"><img src="/img/logo.svg" class="mobile-logo" /></a>
        </li>
        <li><a href="/" class="mobile-link" >Home</a></li>
        <li><a href="/about" class="mobile-link">About</a></li>

        <li><a href="/media" class="mobile-link">Media</a></li>

        <li><a href="/en-español" class="mobile-link">En Español </a></li>
        <li><a href="/get-involved" class="mobile-link">Get Involved</a></li>
    </ul>
    <div class="gradient-divider"></div>
    <div class="mobile-exit"> <a onclick="toggleMobile();">
        X
    </a></div>
</div>