<div style="display: flex; justify-content: space-between; height:14vh;">

<div>
<a href="/"><img src="/img/logo.svg" style="width:100%;" alt="The Backward River homepage" /></a>
</div>
<div style="display: flex;">
    <div class="nav-item">
        <a href="/">Home</a>
    </div>

    <div class="nav-item">
        <a href="#">About</a>
    </div>

    <div class="nav-item">
        <a href="#">Media</a>
    </div>
    <div class="nav-item">
        <a href="#">En Español</a>
    </div>
    <div class="nav-item">
        <a href="#">Get involved</a>
    </div>
</div>


</div>