{{ $x:= .time }}

{{ range (where .context.Site.Pages "Section" .time ) }}
{{ range .Pages }}
<div id="{{ .Title }}" class="story">
    <h2 class="story-divider">
        <div class="story-title">
            {{ .Title }}
        </div>
        <button class="close-story" onclick="selectTime({{$x}})">
            <img src="/images/X.png" />
        </button>
    </h2>
    <div class="story-intro">
        {{.Params.intro | markdownify}}
    </div>
    <div>
        {{ if and (.Params.audioList) (not .Params.audioAfter)}}

        <audio controls src="/audio/{{.Params.audio}}" class="story-audio-display">
        </audio>
        {{ end }}
        {{ $title:= .Title}}
        {{ if isset .Params "gallery" }}
        <div class="splide-container">
            <section id="image-carousel" class="splide" aria-label="Beautiful Images">
                <div class="splide__track">
                    <ul class="splide__list">
                        {{ range .Params.gallery }}
                        <li class="splide__slide">
                            <img src="{{.img}}" alt="">
                            <div>
                                {{.caption}}
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </section>
        </div>
        {{ end }}


        <div class="story-content">
            {{ .Content | markdownify}}
        </div>

        {{ if and (.Params.audioList) (.Params.audioAfter)}}

        {{ range .Params.audioList }}
        <audio controls src="/audio/{{.audio}}" class="story-audio-display">
        </audio>
        <div class="story-content">
            {{ .intro | markdownify}}

            <h4>
                Audio Transcription
            </h4>
            {{ .transcription | markdownify}}
        </div>
        {{ end }}
        {{ end }}

        {{ if isset .Params "credits"}}
        <div class="story-content">
            {{ .credits | markdownify}}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}