{{ $x:= .time }}

{{ range (where .context.Site.Pages "Section" .time ) }}
{{ range .Pages }}
<div id="{{ .Title }}" class="story">
    <h2 class="story-divider">
        <div class="story-title">
            {{ .Title }}
        </div>
        <button class="close-story" onclick="selectTime({{$x}})">
            <img src="/images/X.png" />
        </button>
    </h2>
    <div>
        {{ if isset .Params "audio" }}
        <audio controls src="/audio/{{.Params.audio}}" class="story-audio-display">
        </audio>
        {{ end }}
        {{ $title:= .Title}}
        {{ if isset .Params "gallery" }}
        <div class="splide-container">
            <section id="image-carousel" class="splide" aria-label="Beautiful Images">
                <div class="splide__track">
                    <ul class="splide__list">
                        {{ range .Params.gallery }}
                        <li class="splide__slide">
                            <img src="{{.img}}" alt="">
                            <div>
                                {{.caption}}
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </section>
        </div>
        {{ end }}


        <div class="story-content">
            {{ .Content | markdownify}}
        </div>
    </div>
</div>
{{ end }}
{{ end }}