{{ define "main"}}


<div class="single-title">
    Act
</div>

<div class="section-light">

    <div class="get-involved-content">
        <div class="padding">
            The extraction, transportation, refining and consumption of fossil fuels all cause damage to water. With the
            million gallons of heavy tar sands that spilled into the Kalamazoo River; the refinery explosion in
            Superior, Wisconsin; or the continued risks of Line 5 and the push to expand Line 3, the Great Lakes has
            experienced considerable damage. The ongoing risks of fossil fuels exacerbate other issues, including urban
            flooding, pollution, crumbling infrastructure, and threats to our drinking water.

            While unlearning is necessary for a paradigm shift in how we imagine and interact with water, there are
            things we can do at the individual and community levels to implement environmental justice, green practices,
            conservation, clean drinking water, reconstructed wetlands, reduced urban flooding, local food markets,
            decreased pollution, and renewable energy sources.
        </div>
    </div>
</div>

<div class="section-dark">
    <div class="get-involved-content">
        <div class="padding">
            <h3>
                At Home
            </h3>
            <div class="accordion">
                <h3 class="accordion-border">Section 1</h3>
                <div>
                    <p>
                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                        suscipit faucibus urna.
                    </p>
                </div>
                <h3 class="accordion-border">Section 3</h3>
                <div>
                    <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                    </p>
                    <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                    </ul>
                </div>
                <h3 class="accordion-border"> Section 4</h3>
                <div>
                    <p>
                        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                        mauris vel est.
                    </p>
                    <p>
                        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                        inceptos himenaeos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-light">
    <div class="get-involved-content">
        <div class="padding">
            <h3>
                In Community
            </h3>
            <div class="accordion" style="border: 1px solid #d4d4d4;">
                <h3 class="accordion-border">Section 1</h3>
                <div>
                    <p>
                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                        suscipit faucibus urna.
                    </p>
                </div>
                <h3 class="accordion-border">Section 3</h3>
                <div>
                    <p>
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
                        Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
                        ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
                        lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                    </p>
                    <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                    </ul>
                </div>
                <h3 class="accordion-border"> Section 4</h3>
                <div>
                    <p>
                        Cras dictum. Pellentesque habitant morbi tristique senectus et netus
                        et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
                        faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
                        mauris vel est.
                    </p>
                    <p>
                        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                        inceptos himenaeos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{{ end }}