{{ define "main"}}

<div class="single-title">
    Act
</div>
<div class="section-light">
    <div class="subpage-content">
        <div class="padding">
            The extraction, transportation, refining and consumption of fossil fuels all cause damage to water. With the
            million gallons of heavy tar sands that spilled into the Kalamazoo River; the refinery explosion in
            Superior, Wisconsin; or the continued risks of Line 5 and the push to expand Line 3, the Great Lakes has
            experienced considerable damage. The ongoing risks of fossil fuels exacerbate other issues, including urban
            flooding, pollution, crumbling infrastructure, and threats to our drinking water.

            While unlearning is necessary for a paradigm shift in how we imagine and interact with water, there are
            things we can do at the individual and community levels to implement environmental justice, green practices,
            conservation, clean drinking water, reconstructed wetlands, reduced urban flooding, local food markets,
            decreased pollution, and renewable energy sources.
        </div>
    </div>
</div>

<div class="section-dark">
    <div class="subpage-content">
        <div class="padding">
            <h3>
                At Home
            </h3>
            <div class="accordion">
                {{ range $key, $value := .Params.home }}
                <h3 class="accordion-border">{{ $value.header }}</h3>
                <div >
                    {{ $value.text | markdownify }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div class="section-light">
    <div class="subpage-content">
        <div class="padding">
            <h3>
                In Community
            </h3>
            <div class="accordion">
                {{ range $key, $value := .Params.community }}
                <h3 class="accordion-border">{{ $value.header }}</h3>
                <div >
                    {{ $value.text | markdownify }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ partial "back.html" (dict "context" . "link" "/get-involved")}}
    </div>
</div>




{{ end }}