{{ define "main" }}

<div class="single-title fade-2">
    Reclaim
</div>


{{$len := (len .Params.content)}}

{{ range $key, $value := .Params.content }}

{{ if eq $value.light false }}
<div class="section-dark">
{{ else }}
<div class="section-light">
{{ end }}
    <div class="subpage-content fade-3">
        <div class="padding">
            <h2>
            {{ $value.header }}            
            </h2>
            <div>
                {{ $value.text | markdownify }}
            </div>
        </div>
        {{if eq (add $key 1) $len}}
        {{ partial "back.html" (dict "context" . "link" "/get-involved")}}
        {{end}}
    </div>
</div>
{{ end }}




{{ end }}