{{ define "main" }}

<div class="single-title fade-2">
    Unlearn
</div>
<div class="section-light">
    <div class="subpage-content fade-3">
        <div class="padding">
            What do we mean by unlearn? We have inherited many concepts as common knowledge or basic logic.  This feeds a status quo in which questionable, problematic structures become embedded and difficult to transform.  Part of the necessary transformation of making our systems more durable, accessible and inclusive involves reexamining them and unlearning the ideas that sustain them.
        </div>
    </div>
</div>
<div class="section-dark">
    <div class="single-title fade-3">
        Glossary
    </div>
    <div class="glossary-flex-container fade-3">
        <div class="glossary-definition">
            <div id="base" class="glossary-text" style="display:block;">
                <h2 class="glossary-title">
                    Common Terms
                </h2>
            </div>
            <div id="industrial" class="glossary-text">
                <h2 class="glossary-title">
                    Industrial Corridors
                </h2>
                <div class="hotspot-content">
                    <p>Industrial Corridors are plots of land that were grouped together by the city and designated as
                        places focused on industrial operations such as manufacturing, warehousing and chemical
                        refineries. <a
                            href="https://www.metroplanning.org/news/10261/Yesterdays-zoning-Chicken-processing-facility-flies-under-the-radar">These
                            26 corridors are located close to waterways, railroads and highways</a>. Of the 26, 15
                        Industrial Corridors contain within them Planned Manufacturing Districts, which are zoned for
                        specific types of operations without requiring community meetings or additional city approvals
                        beyond the Chicago Plan Commission.</p>
                </div>
            </div>
            <div id="disenfranchisement" class="glossary-text">
                <h2 class="glossary-title">
                    Disenfranchisement
                </h2>
                <div class="hotspot-content">
                    <p>While disenfranchisement is usually used in reference to depriving a person of the right to vote,
                        it also refers to depriving a person of any of their rights as a citizen or member of a
                        community or organization. We use it here to address the ways in which people’s right to clean
                        and affordable drinking water is taken from them.</p>
                </div>
            </div>
            <div id="privitization" class="glossary-text">
                <h2 class="glossary-title">
                    Privitization
                </h2>
                <div class="hotspot-content">
                    <p>Privatization is the transfer of ownership, operations, and/or profits from the government and
                        the public to the private sector. This can happen in direct ways such as when public
                        infrastructure like <a
                            href="http://www.onthecommons.org/magazine/efficient-effective-alternative-water-privatization">drinking
                            water systems are sold to private corporations</a>. And it can happen in less direct ways
                        such as when rights to fresh water, which we care for and access collectively, are transferred
                        to private corporations and enable them to make private profits.</p>
                </div>
            </div>
            <div id="sewer" class="glossary-text">
                <h2 class="glossary-title">
                    Combined Sewer Flow
                </h2>
                <div class="hotspot-content">
                    <p>Once a sequestering swamp, the Windy City meets water with cement and storm drains that fill
                        quickly. During a heavy rainstorm, the whole system fills and drains have nowhere to empty. In a
                        kind of revenge of the sewers, they reverse course to bring the flush back up to the surface and
                        pour into the river. This is called a combined sewer overflow (CSO) when built infrastructure
                        can no longer contain water. The giant gate between Lake Michigan and the Chicago River is meant
                        to suck lake water into the canal. But, its opening is a two-way street through which all that
                        has spilled into the river can be released to prevent the city from flooding. In this way, the
                        backward river pollutes the lake, the source of drinking water, doing the exact thing it was
                        designed to prevent. Click <a
                            href="https://thebackwardriver.org/river-pipeline/#ib-toc-anchor-5">here</a>.</p>
                </div>
            </div>
            <div id="enclosure" class="glossary-text">
                <h2 class="glossary-title">
                    Enclosure
                </h2>
                <div class="hotspot-content">
                    <p>Enclosure of our public spaces, institutions and natural elements is a means by which our access
                        to them becomes reduced or restricted.</p>
                </div>
            </div>
            <div id="violence" class="glossary-text">
                <h2 class="glossary-title">
                    Slow Violence
                </h2>
                <div class="hotspot-content">
                    <p>“violence that is neither spectacular nor instantaneous but instead incremental, whose calamitous
                        repercussions are postponed for years or decades or centuries [. . .] exacerbates the
                        vulnerability of ecosystems and of people who are poor, disempowered, and often involuntarily
                        displaced, while fueling social conflicts that arise from desperation as life-sustaining
                        conditions erode.” Click <a href="https://thebackwardriver.org/the-river-speaks/">here</a>.</p>
                </div>
            </div>
            <div id="racism" class="glossary-text">
                <h2 class="glossary-title">
                    Enviormental Racism
                </h2>
                <div class="hotspot-content">
                    <p>The disproportionate burden of environmental hazards are borne by people of color, including
                        toxic waste facilities, fossil fuel-related operations, infrastructure like major highways, and
                        other high pollution facilities. This is not accidental, but rather is the result of systemic
                        policies and practices that effectively place communities of color and low-income communities in
                        closest proximity to these industries.</p>
                </div>
            </div>
            <div id="justice" class="glossary-text">
                <h2 class="glossary-title">
                    Enviormental Justice
                </h2>
                <div class="hotspot-content">
                    <p>The communities most burdened by environmental hazards and with the most at stake in
                        environmental policies have the solutions and are leading in the struggles for clean water and
                        healthy communities, despite often being excluded from decision making or exploited for their
                        outreach efforts. Read more from Dr. Antonio López on our <a
                            href="https://freshwaterstories.com/stories/environmental-justice/">Freshwater Stories
                            website</a>.</p>
                </div>
            </div>
            <div id="personhood" class="glossary-text">
                <h2 class="glossary-title">
                    Enviormental Personhood
                </h2>
                <div class="hotspot-content">
                    <p>Informed by Indigenous thought, a new movement is underway that relates to water not as a ‘what’
                        but as a ‘who.’ This movement recognizes the personhood of rivers and other water bodies, seeing
                        them as holders of rights and living beings in relationship with others. Water is not passive or
                        something to be pressed into human service, but a living person deserving of reciprocal
                        relationships and respect. Click <a
                            href="https://thebackwardriver.org/the-river-speaks/">here</a>.</p>
                </div>
            </div>
            <div id="inhabitation" class="glossary-text">
                <h2 class="glossary-title">
                    Inhabitation
                </h2>
                <div class="hotspot-content">
                    <p>Amid the difficulties of the 21st Century, positioning oneself as an inhabitant of the watershed
                        opens new political possibilities. This approach can help to acquaint people with their water,
                        local ecosystems and basin neighbors. It can realign our dichotomies of citizen and alien, old
                        timer and newcomer to position everyone present in a place as an inhabitant whose wellbeing is
                        dependent on collective decisions and actions. In the 21st century, inhabitation also involves
                        confrontation with the degree to which our watersheds have been engineered. The relationships
                        between people and water, as well as among people, are mediated by infrastructure. Tunnels
                        convey rainwater beyond its drainage patterns, rivers are dammed to pool water, locks and canals
                        hasten the movements of boats, and the metal of service lines ultimately determine how safe our
                        water is to drink.</p>
                </div>
            </div>
            <div id="transition" class="glossary-text">
                <h2 class="glossary-title">
                    Just Transition
                </h2>
                <div class="hotspot-content">
                    <p>Community residents and workers are centered and act as leaders in the process of shifting away
                        from dirty industry and towards healthier jobs, leisure and recreation that can spur economic
                        growth. Click <a href="https://thebackwardriver.org/river-pipeline/#ib-toc-anchor-8">here</a>.
                    </p>
                </div>
            </div>
            <div id="watershed" class="glossary-text">
                <h2 class="glossary-title">
                    Watershed
                </h2>
                <div class="hotspot-content">
                    <p>Bioregion, basin and watershed are synonyms that describe the differentiation of space sculpted
                        by the flow of water. If we want to mince words, then we could stress the aquatic basis of the
                        watershed and position the bioregion as encompassing soil, plants, animals, even history and
                        culture. Rain, in particular, carves the boundaries of the watershed. When rain falls, it
                        interacts with the slope of landscape to drain into particular streams, rivers, lakes and
                        aquifers. How a particular drop moves on the ground outlines the contours of the watershed,
                        establishing interconnections among bodies of water, soil types and plants. Unlike drawn borders
                        that etch separation into geography, the gradients of a watershed support the holistic workings
                        of an ecosystem.</p>
                    <p>In social terms, the idea of the bioregion promotes an orientation that centers one’s life-giving
                        waters and a sense of interconnection to the other people and species who share the same water
                        source. It presents a powerful way to think about one’s location that transcends while resting
                        on the geophysical stratum beneath borders. A relationship with one’s water source can position
                        a person as an inhabitant of place. It can also form the basis for relationships with everyone
                        else who draws from it.</p>
                </div>
            </div>
            <div id="commons" class="glossary-text">
                <h2 class="glossary-title">
                    The Commons
                </h2>
                <div class="hotspot-content">
                    <p>This refers to all that we inherit, share, and pass on to future generations. They can be
                        elemental (water, air, soil, seeds), cultural (creative expressions, technical innovations), and
                        social (public spaces, services, and institutions). Their scale can be small (the kitchen table
                        or a water fountain) or global (radio frequencies or the oceans). The commons, and more
                        importantly the actions and values that define and sustain the commons - ‘commoning’ - are
                        ancient. Rather than ownership and scarcity, commons are defined by how they are shared and
                        generate abundance for a diversity of neighbors, including non-human life. Read more from Paul
                        Baines on our <a href="https://freshwaterstories.com/stories/the-commons/">Freshwater Stories
                            website</a>.</p>
                </div>
            </div>
        </div>
        <div class="glossary-container fade-3">
            <div class="glossary">
                <a class="glossary-hotspot" onclick="showGlossary('industrial')" style="top: 15%; left: 4%;">
                    <div class="teardrop">
                    </div>
                    <div class="teardrop-content" >
                        Industrial Cooridors
                    </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('disenfranchisement')" style="top: 14%; left: 32%;">
                    <div class="teardrop"></div>
                    <div class="teardrop-content">Disenfranchisement</div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('justice')" style="top: 14%; left: 55%;">
                    <div class="teardrop"></div>
                    <div class="teardrop-content">Enviormental Justice </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('personhood')" style="top: 13%; left: 83%;">
                    <div class="teardrop">
                    </div>
                    <div class="teardrop-content">Enviormental Personhood</div>
                </a>

                <a class="glossary-hotspot" onclick="showGlossary('privitization')" style="top: 32%; left: 18%;">
                    <div class="teardrop">

                    </div>
                    <div class="teardrop-content">Privitization </div>
                </a>

                <a class="glossary-hotspot" onclick="showGlossary('inhabitation')" style="top: 32%; left: 69%;">
                    <div class="teardrop">
                    </div>
                    <div class="teardrop-content">Inhabitation </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('sewer')" style="top: 55%; left: 4%;">
                    <div class="teardrop">
                    </div>
                    <div class="teardrop-content">Combined Sewer Flow </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('enclosure')" style="top: 55%; left: 32%;">
                    <div class="teardrop">
                    </div>
                    <div class="teardrop-content">Enclosure </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('transition')" style="top: 55%; left: 55%;">
                    <div class="teardrop">

                    </div>
                    <div class="teardrop-content">Just Transition </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('watershed')" style="top: 55%; left: 83%;">
                    <div class="teardrop">

                    </div>
                    <div class="teardrop-content">Watershed </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('violence')" style="bottom: 0%; left: 0%;">
                    <div class="box"></div>
                    <div class="teardrop-content">Slow Violence </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('racism')" style="bottom: 0%; left: 25%;">
                    <div class="box"></div>
                    <div class="teardrop-content">Enviormental Racism </div>
                </a>
                <a class="glossary-hotspot" onclick="showGlossary('commons')" style="bottom: 0%; left: 50.5%;">
                    <div class="box-big"></div>
                    <div class="teardrop-content">The Commons </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section-light">
    <h1 class="single-title fade-2">
        Recommended Reading List
    </h1>
    <div class="bookshelf fade-3">
        {{ range $key, $value := .Params.books }}
        <div class="book-container">
            <div class="book-wrapper">
                <a href="{{$value.link}}">
                    <img src="{{$value.book}}">
                </a>
            </div>
        </div>
        {{end}}
    </div>
    <div class="subpage-content fade-3">
        {{ partial "back.html" (dict "context" . "link" "/get-involved")}}
    </div>
    
</div>


{{ end }}