{{ define "main" }}
<div style="display: flex; height: 30vh;">
   <div class="story-display" >
         {{ range (where .Site.Pages "Section" "landing" ) }}
            {{ range .Pages }}
            {{ if .Params.category }}
            <div id="{{ .Params.category }}-landing" class="story">
               <h2 class ="story-title">
                  {{ .Title   }}
               </h2>
               <div class="story-content">
                  {{ .Content | markdownify }}
               </div>
            </div>
            {{ end }}
            {{ end }}
         {{ end }}
         {{ partial "stories.html" (dict "context" . "time" "past")}}
         {{ partial "stories.html" (dict "context" . "time" "present")}}
         {{ partial "stories.html" (dict "context" . "time" "future")}}

      <div id="landing-page" class="story" style="display: block; position:relative;">
         <div>
            {{ with .Site.GetPage "/landing/landing.md" }}
            <h2 class ="story-title">
                  {{ .Title   }}
               </h2>
               <div class="story-content">
                  {{ .Content | markdownify }}
               </div>
            {{ end }}
         </div>
         <div style="display: flex; justify-content: center;">
            <button class="time-button"  onclick="showStoryText('water-acknowledgement')"> Water Acknowledgement  </button>
         </div>
      </div>
      <div id="water-acknowledgement" class="story">
         {{ with .Site.GetPage "/water/water-agreement.md" }}
         <h2 class ="story-title">
            {{ .Title   }}
         </h2>
         <div class="story-content">
            {{ .Content | markdownify }}
         </div>
         {{ end }}
      </div>
      
   </div>
   
   <div style="width: 70%; height:90vh; position:relative;" class="river" id="background-img">

      <div style="position: absolute; margin-left:5vh; margin-top:5vh; font-size:4vh; max-width:40%; font-weight: bold;">

         <div id="landing-map" class="maptext" style="display: block;">
            What will the river tell you? Select a choice below to begin.
         </div>

         {{ range (where .Site.Pages "Section" "landing") }}
            {{ range .Pages }}
            <div id="{{.Params.category}}-map" class="maptext">
               {{ .Params.maptext }}
            </div>
            {{ end }}
         {{ end }}
      </div>

      <div style="position:absolute; display:flex; width:75%; justify-content:space-between; margin-top:45vh; margin-left:15vh;" id="button-time-row">
      <button class="time-button" onclick="selectTime('past')"> Past  </button>
      <button class="time-button" onclick="selectTime('present')"> Present  </button>
      <button class="time-button" onclick="selectTime('future')"> Future  </button>
      </div>
         {{ partial "buttons.html" (dict "context" . "time" "past")}}
         {{ partial "buttons.html" (dict "context" . "time" "present")}}
         {{ partial "buttons.html" (dict "context" . "time" "future")}}
   </div>
</div>


<style>
.body {
   font-family: helvetica, sans-serif;
}
.maptext{
   display: none;
}
.story {
   display: none;
}
.river {
   background-image: url("/images/allriver.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.time-button {
   background-color: #fefefe; /* Green */
   color: rgb(0, 0, 0);
   padding: 15px 32px;
   text-align: center;
   font-size: 16px;
   width: 20vh;
   border-radius:10px;
}
.time-button:hover{
   background-color: #f5f5f5;
}

.arrow-down {
   width: 0; 
   height: 0; 
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 20px solid #707070;
   margin-left: auto;
   margin-right: auto;
 }

.story-button{ 
   background-color: #707070;
   border: none;
   color: white;
   padding: 0.5vh;
   font-size: 1.6vh;
}
.story-display {
   width: 30%; 
   height:90vh; 
   overflow:auto; 
   margin-right:0%;
   padding-right: 1vh;
}

.story-title{
   font-size: 3vh;
   color: #707070;
}
.story-content {
   font-size: 2.5vh;
   color: #707070;
}
::-webkit-scrollbar {
   width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(82, 82, 82, 0.3); 
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #acacac; 
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.content-past{
   display: none;
}
.content-present{
   display: none;
}
.content-future{
   display: none;
} 

</style>
{{ end }}


