{{ define "main" }}
<div style="display: flex; height: 30vh;">
   <div style="width: 30%; height:93vh; overflow:auto; margin-right:0%">
         {{ range (where .Site.Pages "Section" "testdata") }}
            {{ range .Pages }}
            {{ if .Params.category }}
            <div id="{{ .Params.category }}" class="story">
               <h2>
                  {{ .Title   }}
               </h2>
               {{ .Content | markdownify }}
            </div>
            {{ end }}
            {{ end }}
         {{ end }}
         {{ range (where .Site.Pages "Section" "past") }}
            {{ range .Pages }}
            <div id="{{ .Title }}" class="story">
               <h2>
                  {{ .Title   }}
               </h2>
               {{ .Content | markdownify}}
            </div>
            {{ end }}
         {{ end }}

         {{ range (where .Site.Pages "Section" "present") }}
         {{ range .Pages }}
         <div id="{{ .Title }}" class="story">
            <h2>
               {{ .Title}}
            </h2>
            {{ .Content  | markdownify}}
         </div>
         {{ end }}
      {{ end }}
      {{ range (where .Site.Pages "Section" "future") }}
         {{ range .Pages }}
         <div id="{{ .Title }}" class="story">
            <h2>
               {{ .Title }}
            </h2>
            {{ markdownify .Content }}
         </div>
         {{ end }}
      {{ end }}


      <div id="landing-page" class="story" style="display: block;">
         Overview
Introduction
The backward river in question is the Chicago, reversed at the dawn of the 20th century to serve industrial capitalism in a rising metropolis. 
Body
Before 1900, the winding Chicago River flowed into Lake Michigan. Since 1900, the river has diverted Lake Michigan water into a canal that branches into the Des Plaines, Illinois, and Mississippi Rivers. Its outlet is the Gulf of Mexico. Yes, you read that correctly. The Chicago River or, more precisely, the Chicago Area Waterway System (CAWS) punctures the continental divide between the Great Lakes and the Mississippi River.

Compelling on its own, our story also dramatizes a widespread scenario of crumbling American infrastructure. At its heart rests a basic denial of malfunction, public harm and the disproportionate burdens placed on communities of color. In telling the story of The Backward River, we aim to cut through this denial and speak plainly.

<button class="content-button" onclick="showText('water-acknowledgement')"> Water Acknowledgement  </button>
      </div>
      <div id="water-acknowledgement" class="story">
         The Chicago River flows through the traditional homelands of the Three fires: the Ojibwe, Odawa and Potawatomi Nations. The Fox, Ho-Chunk, Menominee, Miami and Sac tribes also call this region home. These communities have been targets of erasure by settler colonialism. The Backward River aims to highlight the histories, cultures and practices of Indigenous peoples who have a right to this land. Today, Chicago’s American Indian presence constitutes one of the country’s largest urban Indigenous communities. 

The Backward River aims to address the disproportionate impacts of environmental degradation that burden Indigenous communities. The current uses of our local waters are borne of the violent logic of settler colonialism. We collaborate with Indigenous perspectives, which treat water as a vital artery in connecting trade, travel and family. 

By making a water acknowledgement, we take a moment to thank the water for sustaining life and maintaining balance on Earth. We are grateful to the water for moistening the fields where our plants grow, for quenching our thirst, purifying our bodies and allowing us to travel by boat. In the form of springs, rivers, lakes and seas, the water is a mirror that reflects how we treat our environment. In the streams we hear the ancient song that preserves the memory of the beginning of life and our cosmic identity. Water also teaches us adaptability and fluidity, reminding us to mold to the circumstances and remain transparent, calm yet strong at the same time. 

Indigenous communities have historically viewed the relationship between water and humans as one of kinship; today, members of this community continue to protect water as a source of healing and to highlight the symbolic power of water that teaches us how to understand history and ourselves.

      </div>
      
   </div>
   
   <div style="width: 70%; height:90vh; position:relative;" class="river" id="background-img">
      <div style="position:absolute; display:flex; width:75%; justify-content:space-between; margin-top:45vh; margin-left:10vh;" id="button-time-row">
      <button class="content-button" onclick="selectTime('past')"> Past  </button>
      <button class="content-button" onclick="selectTime('present')"> Present  </button>
      <button class="content-button" onclick="selectTime('future')"> Future  </button>
      </div>
      
      {{/*  category buttons below content buttons  */}}
         {{ range (where .Site.Pages "Section" "past") }}
            {{ range .Pages }}
         <button class="content-past" onclick="showText({{.Title}})" style="position:absolute; bottom:{{.Params.x}}%; left:{{.Params.y}}%;"> {{.Title}}  </button>
            {{ end }}
         {{ end }}
         {{ range (where .Site.Pages "Section" "present") }}
            {{ range .Pages }}
            <button class="content-present" onclick="showText({{.Title}})" style="position:absolute; bottom:{{.Params.x}}%; left:{{.Params.y}}%;"> {{.Title}}  </button>
            {{ end }}
         {{ end }}
         {{ range (where .Site.Pages "Section" "future") }}
            {{ range .Pages }}
         <button class="content-future" onclick="showText({{.Title}})" style="position:absolute; bottom:{{.Params.x}}%; left:{{.Params.y}}%;"> {{.Title}}  </button>
            {{ end }}
         {{ end }}
   </div>
</div>
<div style="display: none;">
   {{ $image := resources.Get "/images/chicago-river-map-past.svg" }}
   <img src="{{ $image.RelPermalink }}" />
   {{ $image := resources.Get "/images/chicago-river-map-present.svg" }}
   <img src="{{ $image.RelPermalink }}" />
   {{ $image := resources.Get "/images/chicago-river-map-future.svg" }}
   <img src="{{ $image.RelPermalink }}" />
   {{ $image := resources.Get "/images/river.png" }}
   <img src="{{ $image.RelPermalink }}" />
</div>

<style>
   .story {
      display: none;
   }

   .river {
      background-image: url("/images/river.png");
      background-repeat: no-repeat;
      background-size: cover;
   }
   .content-past{
      display: none;
   }
   .content-present{
      display: none;
   }
   .content-future{
      display: none;
   } 

</style>
{{ end }}


