{{ define "main" }}

<div class="single-title">
   About
</div>
<div class="section-light">
   <div class="subpage-content">
      <div class="light-text">
         {{ .Params.body}}
      </div>
      <div class="the-team">
         The Team
      </div>
      <div class="profile-flex-grid">
         {{ range .Pages }}
         <div class="about-profile">
            <div class="profile-picture">
               <a href="{{.Permalink}}"> <img src="{{.Params.picture}}" class="about-picture"> </a>
            </div>
            <div class="profile-description">
               <div class="about-name-small">
                  {{ .Title }}
               </div>
               <div>
                  <a href="{{.Permalink}}"> Bio </a>
               </div>
            </div>
         </div>
         {{ end }}
      </div>
   </div>
</div>


{{end }}