{{ define "main" }}

<div class="single-title">
    En Español
</div>

<div class="section-light">
    <div class="subpage-content">
        <div>
            intro
        </div>


        
        <div class="audio-library-flex">
            <div class="spanish-audio-wrapper">
                <h2>
                    TITLE
                </h2>
                <audio controls src="/audio/{{.Params.audio}}" style="width: 100%;">
                </audio>
            </div>
            <div class="spanish-audio-wrapper">
                <h2>
                    TITLE
                </h2>
                <audio controls src="/audio/{{.Params.audio}}" style="width: 100%;">
                </audio>
            </div>
            <div class="spanish-audio-wrapper">
                <h2>
                    TITLE
                </h2>
                <audio controls src="/audio/{{.Params.audio}}" style="width: 100%;">
                </audio>
            </div>
            <div class="spanish-audio-wrapper">
                <h2>
                    TITLE
                </h2>
                <audio controls src="/audio/{{.Params.audio}}" style="width: 100%;">
                </audio>
            </div>
        </div>
    </div>
</div>

{{end }}