{{ define "main" }}

<div class="single-title fade-2">
    En Español
</div>

<div class="section-light">
    <div class="subpage-content fade-3">
        
        <div>
            {{ .Params.intro | markdownify }}
        </div>
        
        <div class="audio-library-flex">
            {{ range .Pages }}
            <div class="spanish-audio-wrapper">
                <h2>
                    <a href="{{.Permalink}}">
                        {{ .Params.title }}
                    </a>
                </h2>
                <audio controls src="/audio/{{ .Params.audiofile }}" class="spanish-audio-display">
                </audio>
            </div>
            {{ end }}
            
        </div>
        <div>
            <h2>
                El proceso creativo
            </h2>
            {{.Params.creativeProcess | markdownify}}
        </div>
        
    </div>
</div>

{{end }}