{{ define "main" }}

<div class="single-title">
    En Español
</div>

<div class="section-light">
    <div class="subpage-content">
        
        <div>
            {{ .Params.intro | markdownify }}
        </div>

        <div class="audio-library-flex">
            {{ range .Params.content }}
            <div class="spanish-audio-wrapper">
                <h2>
                    {{ .title }}
                </h2>
                <audio controls src="/audio/{{.audiofile}}" style="width: 100%;">
                </audio>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{end }}