{{ define "main" }}
<div class="single-title">
    Get Involved
</div>

<div class="section-light">
    <div class="get-involved-flex-row">
        <button class="get-involved-btn" onclick="autoScroll('connect')">
            Connect
        </button>
        <button class="get-involved-btn" onclick="autoScroll('reclaim')">
            Reclaim
        </button>
        <button class="get-involved-btn" onclick="autoScroll('act')">
            Act Now
        </button>
        <button class="get-involved-btn" onclick="autoScroll('unlearn')">
            Unlearn
        </button>
        <button class="get-involved-btn" onclick="autoScroll('reimagine')">
            Reimagine
        </button>
    </div>
    <div class="get-involved-content">
        <div class="light-text">
            {{.Params.intro | markdownify}}
        </div>
    </div>
</div>

<div class="section-dark">
    <h1 class="single-title" id="connect">
        Connect
    </h1>
    <div class="get-involved-flex-row">
        <button class="get-involved-btn">
            <div class="fa fa-facebook"></div>
        </button>
        <button class="get-involved-btn">
            <div class="fa fa-instagram"></div>
        </button>
        <button class="get-involved-btn">
            <div class="fa fa-twitter"></div>
        </button>
        <button class="get-involved-btn">
            <div class="fa fa-linkedin"></div>
        </button>
    </div>
    <div class="get-involved-content">
        <div class="dark-text">
            {{.Params.connect | markdownify}}
        </div>
        <div class="get-involved-hashtags">
            {{.Params.hashtags | markdownify}}
        </div>
    </div>
    
</div>

<div class="section-light">
    <div class="get-involved-flex-row">
        <div class="inline-block" id="reclaim">
            <img src="/img/reclaim.gif" class="get-involved-img">
            <div class="gif-text">
                Who owns the water? You do. Keep water public, clean and here!
            </div>
            <a href="/get-involved/reclaim" class="gif-button">
                Reclaim
            </a>
        </div>
        <div class="inline-block" id="act">
            <img src="/img/act.gif" class="get-involved-img">
            <div class="gif-text">
                There are things we can do at the individual and community levels to implement change.
            </div>
            <a href="/get-involved/act" class="gif-button">
                Act
            </a>
        </div>
        <div class="inline-block" id="unlearn">
            <img src="/img/unlearn.gif" class="get-involved-img">
            <div class="gif-text">
                Unlearn as an intentional, radical act so that you may learn.
            </div>
            <a href="/get-involved/unlearn" class="gif-button">
                Unlearn
            </a>
        </div>
    </div>
</div>
<div class="section-dark">
    <div class="get-involved-content">
        <div class="dark-text">
            {{.Params.reimagine | markdownify}}
        </div>
    </div>
    
    <div class="form-container" id="reimagine">
        <form name="contact" method="POST" data-netlify="true">
            <p>
              <label> Name <input type="text" name="name" required/></label>
            </p>
            <p>
              <label>Your Email: <input type="email" name="email" required/></label>
            </p>
            <p>
                <label>Phone Number: <input type="phone" name="phone" required/></label>
            </p>
            <p>
              <label>Message: <textarea name="message"></textarea></label>
            </p>
            <p>
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile">
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </form>
    </div>
</div>

{{ end }}