{{ define "main" }}

<div class="single-title">
    Media
</div>

<div class="section-light">
    <div class="subpage-content">
        <div class="media-flex-row">
            <div class="media-col">
                {{ range .Params.colleft }}
                    <div class="media-item">
                        <h2>
                            {{.title }}
                        </h2>
                        {{ if .image }}
                        <div>
                            <img src="{{.image}}">
                            <div class="media-description">
                                {{.description | markdownify }}
                            </div>
                        </div>
                        {{else}}
                        <div class="media-description">
                            {{.description | markdownify }}
                        </div>
                        {{ end }}
                        {{ range .link }}
                        <div class="media-button">
                            <a  href="{{.url}}" target="_blank" rel="noopener noreferrer">
                                {{.label }}
                            </a>
                        </div>
                        
                        {{ end }}
                    </div>
                    {{end}}
            </div>
            <div class="media-col">
                {{ range .Params.colright }}
                    <div>
                        <h2>
                            {{.title }}
                        </h2>

                        {{ if .image }}
                        <div>
                            <img src="{{.image}}">
                            <div class="media-description">
                                {{.description | markdownify }}
                            </div>
                        </div>
                        {{else}}
                        <div class="media-description">
                            {{.description | markdownify }}
                        </div>
                        {{ end }}
                        {{ range .link }}
                        <div class="media-button" >
                            <a  href="{{.url}}" target="_blank" rel="noopener noreferrer">
                                {{.label }}
                            </a>
                        </div>
                        
                        {{ end }}
                    </div>
                    {{end}}
            </div>

            </div>
        </div>
    </div>
</div>

{{end }}