{{ define "main" }}

<div class="single-title">
    Media
</div>

<div class="section-light">
    <div class="subpage-content">
        <div class="get-involved-flex-row">
            <div id="col-1">
                <div>
                    <h2>
                        Title
                    </h2>

                    Image - optional
                    <div>
                        Blurb Markdown
                    </div>
                    <div>
                        Link
                            - optional
                            - Title
                            - Url
                    </div>
                </div>
                <div>
                    a
                </div>
                <div>
                    a
                </div>
                <div>
                    a
                </div>
            </div>
            <div>
                <div>
                    b
                </div>
                <div>
                    b
                </div>
                <div>
                    b
                </div>
                <div>
                    b
                </div>
                <div>
                    b
                </div>
                <div>
                    b
                </div>
                <div>
                    b
                </div>

            </div>
        </div>
    </div>
</div>

{{end }}